<div class="row">
   <div class="col-6">
     <form [formGroup]="productgroup" (submit)="saveproduct()">
         <table class="table" >
             <tr>
               <th colspan="2" style="text-align: center;"> Product Entry </th>
             </tr>
             <tr>
               <th>ID :</th>
               <td><input class="form-control" type="number" formControlName="id"></td>
             </tr>
             <tr>
               <th>Name :</th>
               <td><input type="text" class="form-control" formControlName="pname"></td>
             </tr>
             <tr>
               <th>Qty :</th>
               <td><input type="number" class="form-control" formControlName="qty"></td>
             </tr>
             <tr>
               <th>Rate :</th>
               <td><input type="number"  class="form-control" formControlName="rate"></td>
             </tr>
              <tr>
                 <td colspan="2"  style="text-align: center;">
                   <input type="submit" class="btn btn-primary m-3" [value]="title">
                   <input type="reset" class="btn btn-danger" value="clear">
                 </td>
              </tr>
         </table>
     </form>
   </div>
  <div class="col-6">
          <table class="table table-warning">
            <tr> <th>ID</th> <th>Name</th> <th>Qty</th> <th>Rate</th> <th>Price</th> <th>Action</th></tr>
            <tr *ngFor="let product of productArray">
                 <td>{{product.id}}</td>
                  <td>{{product.pname}}</td>
                  <td>{{product.qty}}</td>
                  <td>{{product.rate}}</td>
                  <td>{{product.qty * product.rate}}</td>
                  <td><input type="button" value="edit" (click)="editproduct(product)"> </td>
            </tr>
          </table>
  </div>

</div>
