<!--<h1> Wel come to the world of Angular</h1>-->
<!--<app-child1></app-child1>-->
<!--<hr/>-->
<!--<ul>-->
<!--  <li> Title : {{title}} </li>-->
<!--  <li> Age : {{age}}</li>-->
<!--  <li> Address :{{address}}</li>-->
<!--  <li> No1:{{no1}}</li>-->
<!--  <li>No2:{{no2}}</li>-->
<!--  <li> sum : {{no1+no2}}</li>-->
<!--</ul>-->
<!--<hr>-->
<!--<app-child1></app-child1>-->

<!--<hr>-->
<!--&lt;!&ndash;<app-child2></app-child2>&ndash;&gt;-->

<!--<app-property-binding></app-property-binding>-->

<!--<app-event-binding></app-event-binding>-->
<!--<app-two-way-databinding></app-two-way-databinding>-->
<!--<app-tdf-form></app-tdf-form>-->
<!--<app-mdf></app-mdf>-->
<!--<app-ngif></app-ngif>-->
<app-ng-for></app-ng-for>
